{% extends 'layout.html' %} {% block content %}
<div class="message-box">
  <h2>Chat Room: {{room}}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
      onkeypress="checkEnter(event)"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
    <br />
    <form id="fileForm" enctype="multipart/form-data">
      <input type="file" id="myFile" name="filename" />
      <input type="button" value="Upload File" onclick="uploadFile()" />
    </form>
  </div>
</div>
<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  socketio.on("file", (media) => {
    createFile(media.name, media.file);
  });
  // Added on Enter key press to send message
  const checkEnter = (event) => {
    if (event.key === "Enter") {
      event.preventDefault(); // prevent the newline
      sendMessage();
    }
  };

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value.trim === "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
    // Clear the message input value
    document.getElementById("message").reset();
    message.focus(); // focus on the message input field
  };
  // Added to upload file
  // Only 1st value of the file is sent to server, so it's not possible to upload multiple files at once
  const uploadFile = () => {
    var files = document.getElementById("myFile");
    var file = files.files[0];
    if (file == "") return;
    socketio.emit("file", { media: file });
    file.value = "";
    // Clear the file input value
    document.getElementById("fileForm").reset();
  };
</script>
{% for msg in messages %}
<script type="text/javascript">
  {% if msg.message %}
    createMessage("{{msg.name}}", "{{msg.message}}");
  {% endif %}

  {% if msg.file %}
    createMessage("{{msg.name}}", "{{msg.file}}");
  {% endif %}
</script>
{% endfor %} {% endblock %}
